body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.banner h1, p{
    color: white;
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 3px 8px;
    border-radius: 5px;
}
