body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(71, 70, 70);
}
.banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px;   
}
.banner h1{
    font-size: 50px;
}
.banner p{
    color: white;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.donate-today{
    text-align: center;
    padding: 100px;
}
.donate-amount{
    margin-bottom: 80px;
}
.donate-amount a{
    text-decoration: none;
    background-color: rgb(242, 242, 247);
    padding: 30px;
    font-size: 30px;
    font-weight: 800;
    color: grey;
}
.donate-amount #default-amount{
    border: 2px solid red;
    border-radius: 5px;
    background-color: pink;
    color: palevioletred;
}
.donate-today-header{
    margin-bottom: 80px;
}
.submit-amount p{
    padding: 20px 50px;
    border-bottom: 1px solid rgb(192, 190, 190);
    color: rgb(214, 209, 209);
}
.donate-plan{
    padding: 0 100px;
}
.donate-plan-header{
    text-align: center;
    margin-bottom: 40px;
}
.donate-plan-container{
    display: flex;
}
.single-donate-plan{
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px;
}
.donate-plan-extension{
    display: flex;
    padding: 110px;
}
.donate-plan-extension div{
    width: 50%;
    padding: 10px;
}
#donation10{
    width: 100%;
}

#food{
    background-color: aquamarine;
}
#shelter{
    background-color: pink;
}
#education{
    background-color: bisque;
}
.update{
    text-align: center;
    padding: 0 100px;
}
form{
    background-color: bisque;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}
.footer h1{
    color: brown;
    font-family: 'Satisfy', cursive;
}
.footer p{
    color:white;
}